      body, html {
        height: 100%;
        line-height: 1.5;
      }
      body {
        background-image: url("../images/canada.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      h1, h2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        margin: 0 auto;
        width: 75vw;
        backround-color: white;
      }
      .title {
        color: darkgreen;
        font-size: 6em;
        letter-spacing: -0.05em;
      }
