      body, html {
        height: 100%;
        font-size: 16px;
        line-height: 1.5;
        background-color: rgba(250, 247, 240, 0.5);
      }
      body {
      }
      h1, h2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        margin: 0 auto;
        padding: 0.3em 0.6em;
        border: 0;
        border-radius: 10px;
        width: 65vw;
      }
      .container h3 {
        font-size: 1.8rem;
        line-height: 1.2;
      }
      .container p {
        font-size: 16px;
        color: #0a0a0a;
      }

      .title {
        color: rgb(3, 117, 3);
        font-size: 6em;
        letter-spacing: -0.05em;
      }
      .lead {
        font-size: 1.5rem;
        line-height: 1.5;
      }
