      body, html {
        height: 100%;
        font-size: 16px;
        line-height: 1.5;
      }
      body {
        background-image: url("../images/canada.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      h1, h2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        margin: 0 auto;
        padding: 0.3em 0.6em;
        border: 0;
        border-radius: 10px;
        width: 65vw;
        background-color: rgba(191, 226, 199, 0.5);
      }
      .container h3 {
        font-size: 1.2em;
        line-height: 1.2;
      }
      .container p {
        font-size: 16px;
        color: #212121;
      }

      .title {
        color: darkgreen;
        font-size: 6em;
        letter-spacing: -0.05em;
      }
